<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.bqbl" >

    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyAtiSsHTCqkTZmJ4_rXQL2H8jktI1sqHAQ" />

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateAccountActivity"
            android:label="@string/title_activity_create_account"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name=".FeedActivity"
            android:label="@string/title_activity_feed" >
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile" >
        </activity>
        <activity
            android:name=".AccountSettingsActivity"
            android:label="@string/title_activity_account_settings" >
        </activity>
        <activity
            android:name=".FriendsActivity"
            android:label="@string/title_activity_friends" >
        </activity>
        <activity
            android:name=".GameActivity"
            android:label="@string/title_activity_game" >
        </activity>
        <activity
            android:name=".PlaceActivity"
            android:label="@string/title_activity_place" >
        </activity>
    </application>

</manifest>
